form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto 0;
    padding: 1rem;
}

label {
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
    text-align: start;
}

input {
    background-color: transparent;
    color: var(--color);
    width: 100%;
    font-size: 2rem;
    outline: none;
}

button {
    padding: 1rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color);
    box-shadow: 0 0 0.2rem 0 var(--color);
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 0.8rem 0 var(--color);
}