.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-wrap: wrap;
    margin: 0 auto;
    border-bottom: 0.25rem solid rgb(178,22,77);
  }
  
  .header h1 {
    font-size: 4rem;
    color: #f1356d;
  }
  
  .header a {
    text-decoration: none;
  }