.header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    border-bottom: 0.25rem solid rgb(178,22,77);
  }
  
p {
  font-size: 2rem;
}

  .header a {
    text-decoration: none;
  }