@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid #f2f2f2;
}

.header h1 {
  font-size: 4rem;
  color: #f1356d;
}

.header a {
  text-decoration: none;
}

.content {
  width: 100%;
}
