@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(178,22,77);
}

body {
  background-color: rgb(48,48,48);
  color: rgb(178,22,77);
  font-family: "Quicksand";
}

.content {
  width: 100%;
}

li {
  position: relative;
}

.fa-trash-can {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 1.5rem;
  margin: 0.3rem 0.3rem 0 0;
}
