h2 {
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 0 .5rem 0;
    border-bottom: 0.1rem solid rgb(178,22,77);
}

.items {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}